@define-color pink  #c6a0f6;
@define-color bg    #24273a;
@define-color s1    #494d64;
@define-color s0    #363a4f;
@define-color fg    #cad3f5;
@define-color subtle    #b8c0e0;
@define-color muted #a5adcb;
@define-color red   #ed8796;
@define-color orange    #f5a97f;
@define-color yellow    #eed49f;
@define-color blue      #8aadf4;
@define-color green     #a6da95;

* {
    all: unset;
    font-size: 16px;
    font-family: 'CaskaydiaMono Nerd Font Mono', monospace;
}

window#waybar {
    background-color: @bg;
}

button {
    border: none;
    border-radius: 0;
}
tooltip {
    background-color: @s0;
    padding: 4px;
    border-radius: 4px;
}

#workspaces button {
    color: @fg;
    padding: 0 8px;
}

#workspaces button.empty {
    color: @subtle;
}

#workspaces button.active {
    color: @pink;
}

/* Style for hovered workspace buttons */
#workspaces button:hover {
    background: @s0;
}

/* Style for urgent workspace buttons */
#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mpris {
}

#pulseaudio {
    color: @orange;
}

#network {
    color: @yellow;
}

#temperature {
    color: @blue;
}

#battery {
    color: @green;
}

#clock {
    color: @fg;
}

#window {
    color: @fg;
}

#mpris {
    color: @green;
}

.modules-right, .modules-left, .modules-center {
}

.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 0px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @blue;
}

#pulseaudio.muted {
    color: @muted;
}

#custom-sep {
    padding: 0 5px;
    font-weight: bold;
    color: @s1;
}
#custom-power {
    padding: 0 10px;
    font-weight: bold;
    color: @pink;
}
#tray menu {
    background-color: @s0;
    padding: 4px;
    border-radius: 4px;
}
#tray menu * {
    padding: 1px;
    border-radius: 2px;
}
#tray menu *:hover {
    background-color: @s1;
}
#tray menu *:disabled {
    color: @muted;
}

