[Desktop Entry]
Name=Calculator
Comment=Calculator and conversion tool
Exec=rofi -show calc -modi calc -no-show-match -no-sort -automatic-save-to-history
Icon=/home/emilia/.local/share/icons/calculator.svg
Terminal=false
Type=Application
Categories=Office;
